<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">

    <a href="https://t.me/JaloliddinLapasov/" target="_blank">
      <i class="fab fa-telegram mr-3"></i>
    </a>

    <a href="https://www.facebook.com/jaloliddin.lapasov.50" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://www.youtube.com/@jaloliddinlapasov2013" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://www.instagram.com/jaloliddin_7_7_7_7" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>

    <a href="https://www.pinterest.com/jaloliddin630" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/JaloliddinLapasov" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>


  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2025 Copyright:
    <a href=# target="_blank"> Asoschi: Lapasov Jaloliddin </a>
  </div>
  <!--/.Copyright-->

</footer>